<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ics.saptapadi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/saptapadi_blue_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hotel_BookingActivity"></activity>
        <activity android:name=".Rental_Apparel_Activity" />
        <activity android:name=".Jewellry_Activity" />
        <activity android:name=".Gift_Activity" />
        <activity android:name=".InvitionActivity" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".Decoration_Activity" />
        <activity android:name=".Makeup_booking_Activity" />
        <activity android:name=".MakeupActivity" />
        <activity android:name=".View_One.Mahendi_Booking_Activity" />
        <activity android:name=".View_One.MahendiActivity" />
        <activity android:name=".Photography_Booking_Activity" />
        <activity android:name=".PhotographyActivity" />
        <activity android:name=".Cateing_Booking_Activity" />
        <activity android:name=".CateringActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UberTestActivity" />
        <activity android:name=".BookHallActivity" />
        <activity android:name=".ProfileCameraActivity" />
        <activity android:name=".AllCityListActivity" />
        <activity android:name=".HallListActivity" />
        <activity android:name=".View_One.Privacy_policyActivity" />
        <activity android:name=".View_One.TearmAndConditionActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".BunquetHallActivity" />
        <activity android:name=".View_One.ForgotOTPActivity" />
        <activity android:name=".View_One.ForgotActivity" />
        <activity android:name=".View_One.SignupActivity" />
    </application>

</manifest>